/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/*******navbar****/
.mobile-nav-bar {
    background-color: #1779ba;
}

    .mobile-nav-bar a {
        color: #fefefe;
    }



/******footer******/

.mobile-bottom-bar {
    width: 100%;
    height: 3.778rem;
    background: #1779ba;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

    .mobile-bottom-bar .footer-link {
        -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        text-align: center;
        color: #0c3e5f;
        text-transform: uppercase;
        font-size: 0.8125rem;
        font-weight: bold;
        padding: 0.907rem 1rem;
    }

        .mobile-bottom-bar .footer-link i.fa {
            opacity: 0.8;
            margin-right: 0.625rem;
            font-size: 1.5rem;
            vertical-align: middle;
        }

        .mobile-bottom-bar .footer-link:focus, .mobile-bottom-bar .footer-link:active {
            color: #0c3e5f;
        }

    .mobile-bottom-bar .footer-text {
        position: relative;
        top: 2px;
        font-weight: bold;
        font-size: 0.875rem;
        color: #0c3e5f;
    }

/*************/